Homeworks/WebServicesAndCloud 2015/04.WCFServices/WCFHomework/04.HostingInIIS/Service References/OccuranceService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OccuranceCounting" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WordOccurance" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOccuranceCounting_Occurances_InputMessage">
    <wsdl:part name="parameters" element="tns:Occurances" />
  </wsdl:message>
  <wsdl:message name="IOccuranceCounting_Occurances_OutputMessage">
    <wsdl:part name="parameters" element="tns:OccurancesResponse" />
  </wsdl:message>
  <wsdl:message name="IOccuranceCounting_GetPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="IOccuranceCounting_GetPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:portType name="IOccuranceCounting">
    <wsdl:operation name="Occurances">
      <wsdl:input wsaw:Action="http://tempuri.org/IOccuranceCounting/Occurances" message="tns:IOccuranceCounting_Occurances_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOccuranceCounting/OccurancesResponse" message="tns:IOccuranceCounting_Occurances_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IOccuranceCounting/GetPerson" message="tns:IOccuranceCounting_GetPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOccuranceCounting/GetPersonResponse" message="tns:IOccuranceCounting_GetPerson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOccuranceCounting" type="tns:IOccuranceCounting">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Occurances">
      <soap:operation soapAction="http://tempuri.org/IOccuranceCounting/Occurances" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap:operation soapAction="http://tempuri.org/IOccuranceCounting/GetPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OccuranceCounting">
    <wsdl:port name="BasicHttpBinding_IOccuranceCounting" binding="tns:BasicHttpBinding_IOccuranceCounting">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/_03.WordOccurance/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>